{% extends "layout.html" %}
{% block title %}home{% endblock %}
{% block content %}
<br>
<div class="container">
    <article class="article">
        <section class="" >
            <h1 class=" text-center" >Web3: The Future of the Internet</h1>
            <p>Web3, also known as the "Semantic Web" or the "Web of Data," is the next generation of the internet. It is a decentralized network that allows users to control their own data and digital identities, making it more secure and private than the current internet.</p>
            <p>One of the key features of web3 is its use of blockchain technology. This allows for secure and transparent record-keeping, enabling new types of applications and services that were not possible before. For example, web3 allows for the creation of decentralized finance (DeFi) platforms, which offer financial services without the need for traditional intermediaries such as banks.</p>
            <p>Additionally, web3 allows for the creation of decentralized applications (dApps), which are distributed, open-source software applications that run on a blockchain. These dApps can offer a wide range of services, from social networks and gaming platforms, to prediction markets and governance systems.</p>
            <p>In short, web3 is the future of the internet because it empowers users to control their own data and digital identities, enables the creation of new types of applications and services, and offers a more secure and transparent online experience.</p>
        </section>

    </article>
</div>
{% endblock %}
